:root {
  --color-1: rgb(83, 100, 147);
  --color-2: rgb(139, 166, 243);
  --color-3: rgb(255, 119, 119);
  --color-4: rgb(255, 170, 170);
  --color-5: rgb(212, 189, 172);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", sans-serif;
}

.display {
  width: 100%;
  min-height: 100vh;
  background: url(/grocery-list-media/Shopping\ List\ App\ \(2\).png);
  padding: 10px;
}

.grocery-app {
  width: 100%;
  max-width: 540px;
  background: linear-gradient(135deg, rgb(139, 166, 243), rgb(83, 100, 147));
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

@media (min-width: 550px) {
  .grocery-app {
    height: 50rem;
    width: 25rem;
    border-radius: 40px;
  }
}

.grocery-app h2 {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-family: "Merienda", cursive;
}

.grocery-app h2 img {
  width: 50px;
  margin-left: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.add-item-button {
  border: 0.5px solid var(--color-3);
  outline: none;
  padding: 16px 50px;
  background: var(--color-3);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.add-item-button:hover {
  background: var(--color-4);
  border: 0.5px solid var(--color-4);
}

ul {
  overflow-y: auto;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: white;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/circle-outline-xxl.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: var(--color-5);
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(/icons8-verified-check-circle-for-approved-valid-content-97.png);
}

ul li span {
  position: absolute; 
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 35px;
  color: white;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background: transparent;
}

ul li span:hover {
  background: var(--color-5);
}

.bottom-row {
  display: flex;
  justify-content: center;
  column-gap: 160px;
  font-size: 17px;
  color: white;
  margin-top: 40px;
}

.clear-list-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.clear-list-button:hover {
  color: var(--color-3);
}

.scroll {
  height: 30rem;
}

ul::-webkit-scrollbar {
  background: transparent;
  width: 15px;
}

ul::-webkit-scrollbar-thumb {
  background: var(--color-3);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 0;
}


/* throubleshooting :) 
- when text too long, it runs into the delete button
- scroll design not working

*/